.partner-card {
  padding: 30px 30px 0px 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  position: relative;
  background-color: #fff;

  & .partner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 30px;

    & .partner-title-box {
      flex: 0 0 18%;

      & .partner-logo {
        display: block;

        & img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }

    & .partner-info-box {
      flex: 0 0 55%;

      & .calculator-result-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        & .calculator-result-box {
          flex: 0 0 75%;

          & .result-price,
          .result-info-price,
          .result-info-day {
            display: flex;
            align-items: center;

            & .name {
              flex: 0 0 30%;
            }

            & .value {
              font-size: 18px;
              font-weight: $Regular;
            }
          }

          & .result-price {
            & .value {
              color: $orange-color;
            }
          }
        }

        & .bonus-box {
          flex: 0 0 25%;
          height: 80px;
          background-color: rgba(0, 0, 0, 0.03);
          display: flex;
          justify-content: center;
          align-items: center;

          & p {
            margin: 0;
            text-align: center;

            & strong {
              display: block;
              font-size: 34px;
              color: $orange-color;
            }
          }
        }
      }

      & .partner-info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        & .partner-info-item {
          flex: 0 0 30%;
          padding-left: 50px;
          position: relative;

          &::before {
            display: inline-block;
            content: "";
            background-size: cover;
            position: absolute;
            left: 0;
            top: 3px;
          }

          &:nth-child(1)::before {
            background-image: url("../img/Vector_Smart_Object-5.png");
            width: 28px;
            height: 36px;
          }

          &:nth-child(2)::before {
            background-image: url("../img/Layer_6.png");
            width: 36px;
            height: 36px;
          }

          &:nth-child(3)::before {
            background-image: url("../img/Layer_1.png");
            width: 36px;
            height: 36px;
          }

          & span {
            display: block;
            font-size: 12px;
            color: $gray-color;
          }

          & p {
            margin: 0;
            font-weight: $Bold;
          }
        }
      }
    }

    & .partner-btn-box {
      flex: 0 0 17%;
    }
  }

  & .btn-toggle-info {
    width: 178px;
    position: absolute;
    right: 30px;
    top: 140px;
  }

  & .partner-toggle-box {
    max-height: 0;
    overflow: hidden;

    & .partner-main-info {
      padding: 30px 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);

      & p {
        margin: 0;
        font-size: 14px;
      }
    }
  }

  & .show {
    max-height: 200px;
  }

  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  }
}
