/*=== basic ===*/

* :not(svg) {
  transition: 0.5s;
}

html {
  height: 100%;
}

body {
  font-family: $Roboto;
  font-weight: $Regular;
  font-size: $font-text;
  color: $text-color;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

footer {
  flex-grow: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

button:focus {
  outline: none;
}
