/* Colors */

$white: #fff;
$white-text: #fff;
$black-color: #000;
$text-color: #231f20; //==
$text-color-light: #7b7373; //==
$green-color: #52ae32;
$gray-light-color: #e5e5e5;
$gray-color: #706f6f;
$orange-color: #ffad00;
$yellow-color: #fadb57; //==
$hover-color: #ffc400; //==
$red-color: #de180f; //==
$title-color: #231f20; //==

/* Fonts */

$Roboto: "Roboto", sans-serif;

$Regular: 400;
$Bold: 700;
$Black: 900;

/*text*/

$font-text: 16px;
